
html,
body {
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body {
 color: #211f1e ;
 background: url(/img/bg.jpg) no-repeat center center fixed; 
 background-size: cover;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.container {
 position: relative;
 top: 100px;
 padding:100px;
 background-color: #823;
 
}

.navbar{
  
    background-color: lightgreen;
    line-height: 40px;
    
}

ul{
    border-radius: 5px;
}

li{
    font-size: 18px;
    list-style: none;
    display:inline;
    
}

textarea{
    background-color: #555;
}

ng-scope{
    background-color: powderblue;
}