<div class="navbar">
    <ul class= "nav-navbar pull-up">
        <li><a href="#/home"><button>Home</button></a></li>
        <li><a href="#/newpost"><button>New Post</button></a></li>
        <li><a href="#/about"><button>About</button></a></li>
    </ul>
</div> 
<div class="container"> 
    <h3>What is your name?</h3>
    <input type="text" ng-model="author"> 
    <br>
    <h3>What do you want to write about?</h3>
    <input type="text" ng-model="title">
    <br>
    <h3>Now Write!</h3>
    <input type="text" ng-model="content"> 
    <button ng-click="save()" class="btn btn-primary">Save</button>
    
    <h1>Welcome {{author}}</h1>
    <h1>{{title}}</h1>
    <h4>{{content}}</h4>
</div>   
   





<!--

//Logic for page actions here. 
// angular.module('blogApp.controllers',[])
// .controller('PostController', ['$scope', 'http', function($scope, http){
//        $http.get(data/post.json).success(function(data){
//            $scope.post = data;
//        });
//         $scope.welcome= "Hello to everyone",
//         $scope.intro= "Why I am writing this blog",
//         $scope.blogPost= [{}];
         
// $scope.getPost = function() {
//         var someNumber = $scope.noteid;
//         PostFactory.get({id: someNumber});
//     }

//  $scope.getAllPosts = function() {
//              PostFactory.query().then(function(posts) {
//              $scope.posts = posts;
//          }, console.error);
     

//  function logValue(val) {
//           console.log(val);
//       }
// }}]);
   
     //need to find a way to bind the values of title author date ect into a postin-->